# Rust
target/
**/target/
**/*.rs.bk

# ESP-IDF tools
**/build/
**/.venv/
**/.cargo/config.toml.bk
**/.embuild/

# Cargo
Cargo.lock

#Env files
*.env
cfg.toml
 
# Keys
*.pem
**pem**
certs/

# VS Code
.vscode/
